<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-icons/bootstrap-icons.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <title>Lista de Musicas</title>
</head>

<body>
    <h1>Musicas Cadastradas {{ titulo }}</h1>
   <table border="1"> <!--cria a tabela -->
    <thead> <!--agrupa cabeçalho da tabela normamente com <th>-->
        <tr> <!-- Primeira linha-->
            <th> Musica</th> <!--cria uma celula de cabeçalho-->
            <th> Cantor / Grupo / Banda</th>
            <th> Genero</th>
        </tr>
    </thead>

    <tbody> <!--Agrupa o corpo principal da tebela os que estao com os <td>  de dados-->
        <tr><!-- segunda linha-->
            <td> musica 1</td>
            <td> cantor x</td>
            <td> samba</td>
        </tr>

        <tr> <!-- terceira linha-->
            <td> musica 2</td>
            <td> cantor y</td>
            <td> pagode</td>
        </tr>

        <tr> <!--quarta linha-->
            <td> Musica 3</td>
            <td> cantor w</td>
            <td> sertanejo</td>
        </tr>
    </tbody>

   </table>
    
</body>
</html>